@import "tailwindcss";

* {
  scrollbar-color: rgba(255, 255, 255, 0.12) transparent;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply select-none;
  @apply bg-[#050505] text-[#ffffffea];
  @apply font-sans text-sm tabular-nums;
}
